<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight:wght@400;700&display=swap" rel="stylesheet"> 

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight:wght@400;700&family=Zilla+Slab:wght@300;700&display=swap" rel="stylesheet"> 

h1 {font-family: 'Zilla Slab Highlight', cursive;}
h2 {font-family: 'Zilla Slab Highlight', cursive;}
h3 {font-family: 'Zilla Slab', serif;}
h4 {font-family: 'Zilla Slab', serif;}
h5 {font-family: 'Zilla Slab', serif;}
h6 {font-family: 'Zilla Slab', serif;}
p {font-family: 'Zilla Slab', serif;}

.display {font-family: 'Zilla Slab', serif;}
.btn {font-family: 'Zilla Slab', serif;}
.fw-bold {font-family: 'Zilla Slab Highlight', cursive;}
.fw-bolder {font-family: 'Zilla Slab Highlight', cursive;}

/* filter portfolio */
.card {
display: block;
opacity: 0.3;
}

.show {
display: block;
opacity: 1;
}

.btn.active {
    background: #ff3300;
}

#chart {
    width: 100%;
    height: auto;
} 

.bg-header {
  height: 100vh;
  min-height: 500px;
  background-image: linear-gradient(45deg, #000 30‰, #1371fd 30‰), url("../css/header.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
